header , footer{
    color: white;
    background-color: #3D6271;
    margin: 0em 11.5em 1em 11.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

footer{
    background-color:white;
}

footer a{
    margin-left: 10px;
}

body {
    background-color: #212121;
}

article {
    margin: 0em 11.5em 1em 11.5em;
    min-width: 960px;
    max-width: 2048px;
    background-color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

h1 {
    font-size: 200%;
    margin-left:10px;
}

h2 {
    font-size: 100%; 
    margin-left:10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 150%;
    border-bottom: solid;
    border-bottom-width: 1px;
}

nav {
    background-color: #D3D3D3;
    padding: 0.5em;
    
}

nav ul {
    list-style-type: none;
    margin-left:10px;
}

nav li {
    display: inline;
    font-size: 120%;
    margin-right:20px;

}

figure img{
    padding: 0.2em;
    border: solid;
    border-width: 1px;
    
}

p {
    padding: .2em;
}

p:first-of-type {
    color: darkcyan;
}	